*{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body{
  background-image: url(images/fb-screenshot-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

div.icon{
  height: 40em;
  display: flex;
  align-items: center;
  justify-content: center;
}


.fb-icon{
  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}

@keyframes flash{

  0%{
    width: 600px;
    vertical-align: middle;
  }

50%{
  width: 20px;
  vertical-align: middle;
}

  100%{
    width: 600px;
    vertical-align: middle;
  }

}
